@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefeff;
  --foreground: #000000;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #fefeff;
    --foreground: #000009;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
